<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentsApp">
        <!-- Main launcher activity - Student List -->
        <activity
            android:name=".StudentListActivity"
            android:exported="true"
            android:label="@string/students_list_title"
            android:theme="@style/Theme.StudentsApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- New Student Activity -->
        <activity
            android:name=".NewStudentActivity"
            android:exported="false"
            android:label="@string/new_student_title"
            android:parentActivityName=".StudentListActivity"
            android:theme="@style/Theme.StudentsApp" />

        <!-- Student Details Activity -->
        <activity
            android:name=".StudentDetailsActivity"
            android:exported="false"
            android:label="@string/student_details_title"
            android:parentActivityName=".StudentListActivity"
            android:theme="@style/Theme.StudentsApp" />

        <!-- Edit Student Activity -->
        <activity
            android:name=".EditStudentActivity"
            android:exported="false"
            android:label="@string/edit_student_title"
            android:parentActivityName=".StudentDetailsActivity"
            android:theme="@style/Theme.StudentsApp" />
    </application>

</manifest>
